.cproject
.project
.settings
*.d
*.o
*.swp
build/
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.sub
config.log
config.status
configure
configure.scan
*.pc
doc/
install-sh
Makefile
lib*.so.*
ltmain.sh
